:root {
    --gb0: "tranparent";
    --gb1: #0f0f1b;
    --gb2: #565a75;
    --gb3: #c6b7be;
    --gb4: #fafbf6;
    --gb5: #bab8dd; /*#bab8dd*/
}

/* var(--gb5) */

/* 
    For screens with a width less than 600px:
*/

@media (max-width: 600px) {

    .outerMostGrid {
        grid-template-rows: repeat(90, 50px);
    }

    .project_08 {
        grid-column: 1 / 11; /* start at 2 end at 10 */
        grid-row: 3 / 10;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_07 {
        grid-column: 1 / 11;
        grid-row: 12 / 19;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_06 {
        grid-column: 1 / 11; 
        grid-row: 21 / 28;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_05 {
        grid-column: 1 / 11; 
        grid-row: 30 / 37;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_04 {
        grid-column: 1 / 11; /* start at 2 end at 10 */
        grid-row: 39 / 46;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_03 {
        grid-column: 1 / 11; /* start at 2 end at 10 */
        grid-row: 48 / 55;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_02 {
        grid-column: 1 / 11; /* start at 2 end at 10 */
        grid-row: 57 / 64;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_01 {
        grid-column: 1 / 11; /* start at 2 end at 10 */
        grid-row: 66 / 73;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_00 {
        grid-column: 1 / 11;
        grid-row: 75 / 82;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .ResumeDiv {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 84 / 86;
        background-color: transparent;
        position: relative;
        line-height: 1.6;
        text-align: center;
    }

}

/* 
    For screens with a width greater than 1000px:
*/

@media (min-width: 2100px) {

    .outerMostGrid {
        grid-template-rows: repeat(90, 50px);
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .project_08 {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 3 / 10;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_07 {
        grid-column: 2 / 10;
        grid-row: 12 / 19;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_06 {
        grid-column: 2 / 10; 
        grid-row: 21 / 28;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_05 {
        grid-column: 2 / 10; 
        grid-row: 30 / 37;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_04 {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 39 / 46;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_03 {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 48 / 55;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_02 {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 57 / 64;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }
    
    .project_01 {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 66 / 73;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .project_00 {
        grid-column: 2 / 10;
        grid-row: 75 / 82;
        background-color: var(--gb0);
        position: relative;
        line-height: 1.6;
    }

    .ResumeDiv {
        grid-column: 2 / 10; /* start at 2 end at 10 */
        grid-row: 84 / 86;
        background-color: transparent;
        position: relative;
        line-height: 1.6;
        text-align: center;
    }

    .project_08, .project_07, .project_06, .project_05, .project_04, .project_03, .project_02, .project_01, .project_00 {
        left: -80px;
    }
}