:root {
    --gb0: "tranparent";
    --gb1: #0f0f1b;
    --gb2: #565a75;
    --gb3: #c6b7be;
    --gb4: #fafbf6;
    --gb5: #bab8dd; /*#bab8dd*/
}

/* var(--gb0) */

/* 
    For screens with a width larger than 500px:
*/

._1 {
	grid-column: 1;
	grid-row: 1;
}

._100 {
	grid-column: 10;
	grid-row: 10;
}

.project_1 {
    grid-column: 2 / 10; /* start at 2 end at 10 */
    grid-row: 3 / 10;
    background-color: var(--gb0);
    position: relative;
    line-height: 1.6;
}

.project_2 {
    grid-column: 2 / 10; /* start at 2 end at 10 */
    grid-row: 12 / 19;
    background-color: var(--gb0);
    position: relative;
    line-height: 1.6;
}

.project_3 {
    grid-column: 2 / 10; /* start at 2 end at 10 */
    grid-row: 21 / 28;
    background-color: var(--gb0);
    position: relative;
    line-height: 1.6;
}

.project_4 {
    grid-column: 2 / 10; /* start at 2 end at 10 */
    grid-row: 30 / 37;
    background-color: var(--gb0);
    position: relative;
    line-height: 1.6;
}

.project_5 {
    grid-column: 2 / 10; /* start at 2 end at 10 */
    grid-row: 39 / 46;
    background-color: var(--gb0);
    position: relative;
    line-height: 1.6;
}

.project_6 {
    grid-column: 2 / 10; /* start at 2 end at 10 */
    grid-row: 48 / 55;
    background-color: var(--gb0);
    position: relative;
    line-height: 1.6;
}

/*
    inner divs for views of content
*/

.topLeft {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30%;
    width: 30%;
    background-color: var(--gb0);
}

.bottomLeft {
    position: absolute;
    top: 31%;
    left: 0px;
    height: 69%;
    width: 30%;
    background-color: var(--gb0);
}

.fullRight {
    position: absolute;
    top: 0px;
    left: 31%;
    height: 100%;
    width: 69%;
    background-color: var(--gb0);
    overflow: hidden; 
}

.logoPosition { /* center the logo HACK */
    position: relative;
    /* left: 50%;
    margin-left: -50px; */
    float: right;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

.linkPosition {
    position: relative;
    float: right;
    top: 10%;
    margin-left: -50px;
    margin-top: -50px;
}

.linkPositionCustom {
    position: absolute;
    top: 85px;
    right: 0px;
}

.examine {
    position: relative;
    font-size: 10px;
    left: 0px;
    top: -20px;
    width: fit-content;
    background-color: transparent;
}
.projTitle {
    position: relative;
    top: -3px;
    font-size: 10px;
    height: fit-content;
}

.projImgPosition {
    position: relative;
    top:15px;

}

img {
    max-width:100%;
    max-height:100%;
}

