:root {
    --gb0: "tranparent";
    --gb1: #0f0f1b;
    --gb2: #565a75;
    --gb3: #c6b7be;
    --gb4: #fafbf6; 
}


body {
    background-color: #212529;
    color: white;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 14px;
}

.spacer {
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

.row1 {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 200px;
    margin: 0 0 0 0;
    background-color: transparent;
    text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 150px;
}

.header {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    max-width: 400px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.article {
    background-color: #343a40;
    overflow: hidden;
    max-width: 400px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 5px;

}

#customCPlusPlus {
    background-color: transparent;
    position:relative;
    width: fit-content;
    height: fit-content;
    top: 10px;
    left: 10px;
}

#customJS {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 6px;
    left: 6px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#language_icon {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    width: 80px;
    height: 50px;
    top: 0px;
    left: 0px;
}

#proj_description {
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    width: 220px;
    height: 40px;
    top: 10px;
    left: 55px;
    color: white;
    text-align: left;
    font-size: small;
}

#git_hub_link {
    background-color: greenyellow;
    position: absolute;
    overflow: hidden;
    width: 115px;
    height: 30px;
    top: 5px;
    left: 285px;
    font-size: x-small;
    border-radius: 5px;
    color: black;
}

#codepen_link {
    background-color: #cc0099;
    position: absolute;
    overflow: hidden;
    width: 115px;
    height: 30px;
    top: 5px;
    left: 285px;
    font-size: x-small;
    border-radius: 5px;
    color: black;
}

.logo_placement {
    position: relative;
    top: 2px;
    left: 3px;
    
}

.lang_placementJS {
    position: relative;
    top: 3px;
    left: 3px;
    height:max-content;
    width:max-content;
    border-style: solid;
    border-radius: 3px;
    border-color: whitesmoke;
}

.lang_placementC {
    position: relative;
    top: 6px;
    left: 3px;
    height:max-content;
    width:max-content;

}