body {
    background-color: lightslategray;
    color: white;
    font-family: 'Tangerine', serif;
    font-size: 48px;
}


.w3-container {
    text-align: center;
}

.pic {
    text-align: center;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.context {
    text-align: center;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.context2 {
    text-align: center;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}