body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(60, 100px);
}

header {
	background-color: #17191b;
	font-family: 'Bungee';
	font-size: 45px;
	position: fixed;
	color: #cccccc;
	height: 100px;
	width: 100%;
	text-align: center;
	z-index: 2;
	overflow: hidden;
	min-width: 600px;
}

@keyframes fadeOut {
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes fadeIn {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

footer{
	background-color: black;
	font-family: 'Bungee';
	position: fixed;
	bottom: 0px;
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	min-width: 600px;
	font-size: 15px;
	color: #cccccc;
	z-index: 2;
}

.begin {
	background-color: transparent;
	grid-column: 1/7;
	grid-row: 1;
}

.smallContainer{
	position: relative;
	background-color: black ;
	height: 50px;
	width:100%;
	color: #004d4d;
}

.ion-social-codepen-outline{
	background-color: white;
}

.logos {
	position: absolute;
	background-color: black; /*green*/
	height: 50px;
	width: 40px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	padding-left: 4px;
	font-size: 35px;
	color:   teal;
}

.cTwo{
	position: absolute;
	font-family: 'Righteous';
	font-size: 17px;
	background-color: black; /*red*/
	height: 50px;
	width: 110px;
	top: 0px;
	left: 40px;
	overflow: hidden;
}
.centerS{
	position: relative;
	top: 25%;
	left: 15%;
}

ul {
	font-family: 'Montserrat';
	font-size: 15px;
	color: #994f00;
}

li {
	list-style-type: none;
}

/* MAIN CONTENT BELOW */

#innerNav {
	/*adding a relative or absolute here will break sticky*/
	background-color: black;
	color: white;
	left: 0px;
	overflow: hidden;
	height: 1080px;
	width: 150px;
	z-index: 1;
	white-space: nowrap;
	list-style-type: none;
}

#iconOne{
	background-color:black;
	height:40px;
	width:40px;
}

.sticky {
	background-color: black;
	position: fixed;
	height: 1300px;
	width: 100px;
	bottom: 0px;
}

.oneA {
	font-family: 'Montserrat';
	font-size: 25px;
	border-radius: 15px;
	background-color: black;
	color: #cccccc;
	grid-column: 2/6;
	grid-row: 2/5;
	text-align: center;
	min-width: 600px;
}

.twoA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: #2a2d31;
	color: white;
	grid-column: 2/6;
	grid-row: 5/8;
	text-align: center;
	color: #cccccc;
	font-size: 20px;
	min-width: 600px;
}

.wrapperTwoA{
	font-family: 'Montserrat';
	background-color: #2a2d31;
	border-radius: 15px;
	position: relative;
	height: 100%;
	width: 100%;
}

.leftBoxTwoA{
	background-color: #2a2d31; /* #2a2d31*/
	border-radius: 5px;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 50%;
	height: 100%;
	text-align: left;
	font-size: 15px;
	color: #cccccc;
	overflow: hidden;
	text-align: justify;
	margin: auto;
	font-size: 20px;
}

.centerTextTwoA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 10%;
	margin: auto;
	height: 90%;
	width: 90%;
	overflow: hidden;
}

.rightBoxTwoA{
	background-color: #2a2d31;
	border-radius: 5px;
	position: absolute;
	top: 0%;
	left: 50%;
	width: 50%;
	height: 100%;
	text-align:left;
	font-size: 15px;
	padding: 30px;
	overflow: hidden;
}

.containSwitch{
	position: relative;
	background-color: grey;
	border-radius: 5px;
	margin: auto;
	margin-top: auto;
	height: 200px;
	width: 100px;
	overflow: hidden;
}

.onOffSwitch{
	cursor: pointer;
	background-color: #33cc33;
	border-radius: 5px;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 40px;
	width: 100px;
	overflow: hidden;
	text-align: center;
	z-index: 1;
	font-size: 30px;
}

.switchArrow{
	background: transparent;
	top: 15%;
	left: 35%;
	width: 0px;
	height: 0px;
	position: absolute;
	border-radius: 5px;
	border-top: 20px solid #660000;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	animation: switchIsOn 1.8s infinite;

}

@keyframes switchIsOn {
	0% {
		top:15%;
		border-color: transparent;
	}
	100% {
		top:65%;
		border-color: solid;
	}
}

@keyframes switchIsOff{
	0% {
		top:55%;
		border-color: transparent;
		border-top: 15px solid transparent;
		border-bottom: 20px solid transparent;
	}
	100% {
		top:5%;
		border-color: solid;
		border-top: 15px solid transparent;
		border-bottom: 20px solid green;
	}
}

.rainDiv{
	background-color: black;
	border-radius: 5px;
	position: absolute;
	top: 80%;
	left: 0%;
	height: 40px;
	width: 100px;
	overflow: hidden;
	text-align: center;
	color: green;
	font-size: 30px;
}

@keyframes off {
	0%	{
		background-color: #33cc33;
		top: 0%;
	}

	100%{
		background-color: #660000;
		top: 60%;
	}
}

@keyframes on {
	0%	{
		background-color: #660000;
		top: 60%;
	}
	100%{
		background-color: #33cc33;
		top: 0%;
	}
}

.threeA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: black;
	color: white;
	grid-column: 2/6;
	grid-row: 8/11;
	color: #cccccc;
	min-width: 600px;
}

.boxController {
	background-color: black; /*uncomment for debugging*/
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.leftBoxThreeA {
	position: absolute;
	background-color: transparent; /*uncomment for debugging*/
	border-radius: 5px;
	top: 0%;
	left: 0%;
	width: 50%;
	height: 100%;
	transform: scale(1);
	overflow: hidden;
}

.centerPenThreeA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 5%;
	margin: auto;
	height: 90%;
	width: 90%;
	overflow: hidden;
}

.centerTextThreeA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 10%;
	margin: auto;
	height: 90%;
	width: 90%;
	overflow: hidden;
}

.rightBoxThreeA{
	position: absolute;
	background-color: transparent; /*uncomment for debugging*/
	border-radius: 5px;
	top: 0%;
	left: 50%;
	width: 50%;
	height: 100%;
	text-align: justify;
	margin: auto;
	font-size: 20px;
}

.fourA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: #2a2d31;
	color: white;
	grid-column: 2/6;
	grid-row: 11/14;
	color: #cccccc;
	min-width: 600px;
}

.centerTextFourA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 10%;
	margin: auto;
	height: 90%;
	width: 90%;
	overflow: hidden;
	font-size: 20px;
}

.fiveA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: transparent;
	color: white;
	grid-column: 2/6;
	grid-row: 14/21;
	color: #cccccc;
	min-width: 600px;
}

.centerPenFiveA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 6%;
	margin: auto;
	height: 87%;
	width: 90%;
	overflow: hidden;
	font-size: 20px;
}

.sixA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: #2a2d31;
	color: white;
	grid-column: 2/6;
	grid-row: 21/24;
	color: #cccccc;
	min-width: 600px;
}

.centerTextSixA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 10%;
	margin: auto;
	height: 90%;
	width: 90%;
	overflow: hidden;
	font-size: 20px;
}

.sevenA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: transparent;
	color: white;
	grid-column: 2/6;
	grid-row: 24/31;
	color: #cccccc;
	min-width: 600px;
}

.centerPenSevenA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 6%;
	margin: auto;
	height: 87%;
	width: 90%;
	overflow: hidden;
	font-size: 20px;
}

.eightA {
	font-family: 'Montserrat';
	border-radius: 5px;
	background-color: #2a2d31;
	color: white;
	grid-column: 2/6;
	grid-row: 31/35;
	color: #cccccc;
	min-width: 600px;
}

.centerTexteightA {
	position: relative;
	background-color: transparent;
	border-radius: 5px;
	top: 10%;
	margin: auto;
	height: 90%;
	width: 90%;
	overflow: hidden;
	font-size: 20px;
}

/* ALL MEDIA QUERIES BELLOW */

@media (max-width: 720px) {
	/* DETECT SCROLL AND ADD STICK */
	/* IF WINDOW MEDIA IS SMALLER THAN 720PX DO THE FOLLOWING */

	header {
		font-size: 30px;
	}

	#innerNav {
		display: none;
	}

	/*.wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(22, 100px);
	}



	.oneA {
		grid-column: 1/7;
		font-size: 20px;
	}

	.twoA {
		grid-column: 1/7;
		grid-row: 5/8;
		overflow: hidden;
	}

	.threeA {
		grid-column: 1/7;
		grid-row: 8/11;
	}

	.fourA {
		grid-column: 1/7;
		grid-row: 11/14;
	}

	.fiveA {
		grid-column: 1/7;
		grid-row: 14/17;
	}

	.sixA {
		grid-column: 1/7;
		grid-row: 17/20;
	}

	.sevenA {
		grid-column: 1/7;
		grid-row: 20/23;
	}*/
}
