/* 

*/
/* C:\Users\Hoyos\Desktop\m_c_t\ZZ_Access_Portfolio\Resume_Portfolio */
:root {
    --gb0: "tranparent";
    --gb1: #0f0f1b;
    --gb2: #565a75;
    --gb3: #c6b7be;
    --gb4: #fafbf6; 
}

body {
    min-width: 370px;
    background-color: var(--gb1);
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P'; font-size: 14px;
    color: var(--gb4);
}

/* Google Font */
.gf {
    font-family: 'Press Start 2P'; font-size: 14px;
    color: var(--gb4);
}

#canvasContainer {
    width: 100%;
    height: 200px;
    background-color: var(--gb1);
}

#canvasBorder {
    position: relative;
    overflow: hidden;
    background-color: var(--gb4);
    width: 400px;
    height: 200px;
    /* border-radius: 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#showCase {
    position: relative;
    overflow: hidden;
    background-color: var(--gb1);
}

#buttonsForCanvas {
    width: 100%;
    height: 50px;
    background-color: var(--gb1);

}

#buttonFrame {
    position: relative;
    width: 370px;
    height: 50px;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
}

.parent {

}

.child {
    float: left;
}

#leftB {
    position: relative;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 50px;
    background-color: transparent;
}


#centerDisplay {
    position: relative;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    
}

#avg{
    position: relative;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 25px;
    background-color: lightcoral;
}


#rightB {
    position: relative;
    top:0px;
    left: 0px;
    width: 60px;
    height: 50px;
    background-color: transparent;
}

#spacer1 {
    width: 100%;
    height: 100px;
    background-color: transparent;
}

#section3 {
    width: 100%;
    height: 200px;
    background-color: var(--gb3);
}

#spacer2 {
    width: 100%;
    height: 100px;
    background-color: transparent;
}

#section4 {
    width: 100%;
    height: 200px;
    background-color: var(--gb3);
}

@keyframes pulse {
    0% { background-color: solid white; opacity:1; }
    15% { background-color: solid red; opacity:0.8; }
    100% { background-color: solid red; opacity:0; }
  }
